#breadCrums .breadCrumsBottomBorder {
  border-bottom: 1px solid #e8e8e8;
  padding: 28px 0;
}
#breadCrums .breadcrumb {
  background: transparent !important;
  font-size: 13px;
}

#contactUs {
  padding: 0px 0 30px 0;
  min-height: 1110px;
}
#contactUs .breadcrumb {
  background: transparent !important;
}
#contactUs form button {
  background: #5a701e;
  padding: 15px 30px;
  font-size: 15px;
  outline: 0;
}
#contactUs form textarea {
  resize: none;
  height: 150px;
  outline: 0;
}
#contactUs form input {
  outline: 0;
}
#contactUs li {
  color: #777;
}

@media (max-width: 540px) {
  #breadCrums .breadcrumb {
    font-size: 10px;
  }

  #contactUs .breadcrumb {
    font-size: 13px;
  }
}