* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

@media (min-width: 1400px) {
  .container-xl {
    max-width: 1140px !important;
  }
}
header .top-bar {
  background-color: #8faf3e;
}
header .top-bar .auth-reg-btn {
  color: #fff;
  background: transparent;
  border: 0;
}
header .top-bar .currency .nav-item {
  border-right: 1px solid #9ab752;
}
header .top-bar .currency .nav-item a {
  text-decoration: none;
}
header .top-bar .reg-auth-form {
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  z-index: 99;
  border: 1px solid #5a701e;
  padding: 20px;
  z-index: 999;
}
header .top-bar .reg-auth-form .closeForm {
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
  color: #5a701e;
}
header .top-bar .reg-auth-form .line {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #5a701e;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 99;
}
header .top-bar .reg-auth-form p {
  color: #777777;
}
header .top-bar .reg-auth-form .agreement {
  color: #d2daff;
  text-decoration: none;
}
header .top-bar .reg-auth-form form label {
  color: #777777;
}
header .top-bar .reg-auth-form form button {
  background-color: #5a701e;
}
header .top-bar .reg-auth-form form input {
  outline: 0 !important;
}
header .top-bar .reg-auth-form form input[type=text] {
  padding: 9px;
}
header .top-bar .reg-auth-form form input[type=password] {
  padding: 9px;
}
header .top-bar .reg-auth-form form input[type=email] {
  padding: 9px;
}
header .logo {
  color: #5a701e;
  text-decoration: none !important;
}
header .logo:hover {
  color: #5a701e;
}
header .search form {
  height: 100%;
  outline: 0;
  border: 1px solid #5a701e;
}
header .search form input {
  width: 72%;
  outline: 0;
  border: 0;
  background-color: #fff;
  height: 100%;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
header .search form select {
  width: 20%;
  height: 100%;
  background-color: #fff;
  outline: 0;
  border: 0;
  border-left: 1px solid #e8e8e8;
}
header .search form button {
  width: calc(8% + 2px);
  border: 0;
  background-color: #5a701e;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
header .cart-item {
  height: 100%;
}
header .carts {
  transform: translate(0, -60%);
}
header .carts .icon {
  color: #a7ca50;
  font-size: 20px;
}
header .carts p {
  font-size: 12px;
}

@media (max-width: 992px) {
  .logo-block {
    margin-bottom: 20px !important;
  }

  .carts {
    transform: translate(0, 0%) !important;
    margin-top: 20px !important;
    padding: 0 auto !important;
  }

  .navbar-nav .dropdown-menu {
    position: static !important;
  }

  .card-news {
    margin-top: 0 !important;
  }

  .baner {
    margin: 30px 0 !important;
  }

  .searchAndSocial h3 {
    text-align: left !important;
  }
  .searchAndSocial .social {
    border: 0 !important;
  }
}
.mega-menu {
  background-color: #5a701e;
}
.mega-menu ul {
  border-radius: 0 !important;
}
.mega-menu .navbar-nav > li {
  position: relative;
}
.mega-menu .navbar-nav > li a {
  border-radius: 0 !important;
}
.mega-menu .img-content-mega-menu img {
  object-fit: cover;
}
.mega-menu .category-down-menu {
  min-width: 250px !important;
}
.mega-menu .alphabet {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: -1.2px;
  color: #8db3ff;
}
.mega-menu .alphabet:hover {
  background-color: #fff;
  color: #8db3ff;
}
.mega-menu .alphabet > * {
  cursor: pointer;
}
.mega-menu .category-down-menu {
  min-height: 365px;
}
.mega-menu .category-down-menu ul {
  height: 100%;
}
.mega-menu .badges {
  position: absolute;
  width: 40px;
  height: 20px;
  font-size: 11px;
  line-height: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  background: #ea5c5c;
}
.mega-menu .badges::after {
  position: absolute;
  content: "";
  -webkit-clip-path: polygon(0 0, 40% 99%, 100% 0);
          clip-path: polygon(0 0, 40% 99%, 100% 0);
  bottom: 1px;
  width: 10px;
  height: 6px;
  left: 10px;
  transform: translate(0, 100%);
}
.mega-menu .hot {
  background: #ea5c5c;
  left: 55%;
  top: 0;
}
.mega-menu .hot::after {
  background: #ea5c5c;
}
.mega-menu .new {
  top: 0;
  left: 35%;
  background: #24bbbc;
}
.mega-menu .new::after {
  background: #24bbbc;
}

@media (min-width: 992px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }

  .first-dropdown-menu > li {
    outline: 1px solid #f4f4f4;
  }

  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
  }

  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }

  .img-menu {
    display: none;
  }

  .mega-menu li:nth-first-child(none):hover {
    cursor: pointer;
    background-color: #8faf3e;
  }

  .mega-menu a:hover {
    background-color: #8faf3e !important;
    color: #fff !important;
  }

  .more:hover a {
    background-color: #fff !important;
  }

  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
.fontTimeRomans {
  font-family: "Times New Roman", Times, serif;
}

footer .searchAndSocial {
  background-color: #8faf3e;
}
footer .searchAndSocial form input {
  width: 75% !important;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: 0 !important;
  border: 0;
  padding: 11px 0;
}
footer .searchAndSocial form button {
  background-color: #5a701e;
  outline: 0;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 25%;
}
footer .searchAndSocial .social p {
  font-size: 12px !important;
}
footer .faq-footer {
  padding: 70px 0;
  background-color: #f8f8f8;
}
footer .faq-footer p {
  color: #ababab;
  line-height: 20px;
}
footer .faq-footer a {
  color: #ababab !important;
}
footer .faq-footer .email-footer {
  bottom: 0;
}
footer .copyright p {
  color: #ababab;
}