* {
  padding: 0;
  margin: 0;
}

#bannerItems {
  padding: 25px 0;
}
#bannerItems .slider .uk-position-center {
  width: 100%;
  background: rgba(1, 1, 1, 0.5);
  padding: 19px 0 19px 15px;
}
#bannerItems .slider .uk-slider-nav {
  position: absolute;
  left: 50%;
  transform: translate(-40%, 0);
  bottom: 5px;
  z-index: 100;
}
#bannerItems .slider .uk-slider-nav li:nth-child(1) {
  padding-left: 0;
}
#bannerItems .slider .uk-slider-nav a {
  border: 1px solid #fff !important;
}
#bannerItems .slider .uk-slider-nav .uk-active a {
  background-color: #fff !important;
}
#bannerItems .slider img {
  height: calc(100% - 10px);
}
#bannerItems .cardsItems {
  padding: 0 7px !important;
}
#bannerItems .card-item {
  outline: 1px solid #6d8138;
  margin-bottom: 10px;
}
#bannerItems .card-item h2 {
  font-size: 20px;
  color: #70833c;
  padding: 9px 0 15px 0;
  margin-left: 10px;
}
#bannerItems .card-item p {
  font-size: 13px;
  font-family: "Roboto";
  text-align: right;
  margin-right: 2px;
}

#ourServices h2 {
  padding: 15px 0 40px 0;
}
#ourServices .outline {
  outline: 1px solid #fc6f38 !important;
}
#ourServices .outline span {
  left: 2rem;
  top: 0;
  padding: 7px;
  background: #fca238;
  width: auto;
}
#ourServices .calculator {
  border-bottom: 1px solid #5a701e;
  cursor: pointer;
}
#ourServices .calculator h5 {
  color: #657a2d;
  font-size: 18px;
}
#ourServices .calculator .calc-content {
  box-sizing: initial;
  border: 1px solid #5a701e;
  height: 184px;
  transition: 0.2s;
  position: relative;
}
#ourServices .calculator .calc-content .btn {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  transition: 0.2s;
}
#ourServices .calculator .calc-content:hover {
  box-shadow: 0px 9px 12px -1px rgba(0, 0, 0, 0.52);
}
#ourServices .calculator .calc-content:hover .btn {
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}
#ourServices .calculator .btn-link {
  color: #657a2d;
  border: 0;
  background: transparent;
  font-size: 18px;
}

#ourBlog {
  padding: 50px 0 60px 0;
}
#ourBlog .dop-info .card-calendar {
  outline: 1px solid #e5e5e5;
  min-height: 390px;
}
#ourBlog .dop-info .card-calendar .card-header {
  background-color: #eeeeee;
  border-radius: 0 !important;
}
#ourBlog .dop-info .card-calendar .card-text {
  line-height: 18px;
  font-size: 12px;
  color: #111;
}
#ourBlog .dop-info .card-calendar .card-body {
  padding-top: 50px;
}
#ourBlog .dop-info .card-calendar .card-body a {
  width: 20px !important;
  border-radius: 50%;
  position: absolute !important;
  height: 20px !important;
  margin: 0 !important;
  z-index: 1000;
  background: #fff;
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#ourBlog .dop-info .card-calendar .card-body .uk-slider-items {
  height: 100%;
}
#ourBlog .dop-info .card-calendar .card-body .controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 9px;
  width: 45px;
}
#ourBlog .dop-info .card-calendar .card-body .controls a {
  position: static !important;
  transform: translateY(45%);
  font-size: 10px;
}
#ourBlog .dop-info .card-calendar .card-footer {
  background-color: #eeeeee;
  border-radius: 0 !important;
}
#ourBlog .dop-info .card-calendar .card-footer .dayMonth {
  width: 50%;
  font-size: 20px;
  color: #111;
  height: 100%;
}
#ourBlog .dop-info .card-news {
  outline: 1px solid #e5e5e5;
  margin-top: 60px;
}
#ourBlog .dop-info .card-news .card-header {
  background-color: #eeeeee;
  border-radius: 0 !important;
}
#ourBlog .dop-info .card-news .card-header h3 {
  font-size: 15px;
}
#ourBlog .dop-info .card-news .media-img {
  width: 30%;
}
#ourBlog .dop-info .card-news .media-body p {
  font-size: 12px;
}
#ourBlog .dop-info .baner {
  margin-top: 70px;
  min-height: 500px;
  background-color: #e5e5e5;
}
#ourBlog .blog .tag i {
  color: #ffd203;
}
#ourBlog .blog .tag .badge {
  background-color: #ea5c5c;
}
#ourBlog .blog .box-img-content {
  outline: 1px solid #5a701e;
}
#ourBlog .blog .blog-item:first-child {
  padding-right: 7px;
}
#ourBlog .blog .blog-item:last-child {
  padding-left: 7px;
}
#ourBlog .blog .blog-item h3 {
  font-size: 20px;
  letter-spacing: -1.5px;
}
#ourBlog .blog .blog-item .box-img {
  overflow: hidden;
  padding: 0 12px 12px 12px;
}
#ourBlog .blog .blog-item .box-img-content {
  padding: 8px;
  outline: 1px solid #5a701e;
}
#ourBlog .blog .blog-item .box-img-content .content {
  background: rgba(255, 255, 255, 0.5);
  left: 50%;
  top: 50%;
  transition: 0.3s all ease;
  transform: translate(-50%, 0%);
  opacity: 0;
  visibility: hidden;
  width: 310px;
  font-size: 15px;
  text-align: left;
}
#ourBlog .blog .blog-item:hover .content {
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}
#ourBlog .blog .blog-min .blog-min-item .content {
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  padding: 5px 0;
}
#ourBlog .btn-link {
  color: #657a2d;
  border: 0;
  background: transparent;
  font-size: 18px;
}

#videosAndRecipes {
  padding: 0px 0 70px 0;
}
#videosAndRecipes .recipes .tag i {
  color: #ffd203;
}
#videosAndRecipes .recipes .tag .badge {
  background-color: #ea5c5c;
}
#videosAndRecipes .recipes .box-img-content {
  outline: 1px solid #5a701e;
}
#videosAndRecipes .recipes .recipe .content {
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  color: #657a2d;
  font-size: 14px;
  padding: 5px 0;
}
#videosAndRecipes .btn-link {
  color: #657a2d;
  border: 0;
  background: transparent;
  font-size: 18px;
}
#videosAndRecipes .col-lg-8 img {
  border: 1px solid #5a701e;
}

@media (max-width: 768px) {
  .blog-item:first-child {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .blog-item:last-child {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .box-img .content p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=index.css.map */