* {
  padding: 0;
  margin: 0;
}

#breadCrums .next-prev a {
  text-decoration: none;
  color: #777777;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  display: block;
}
#breadCrums .breadCrumsBottomBorder {
  border-bottom: 1px solid #5a701e;
  padding: 28px 0;
}
#breadCrums .breadcrumb {
  background: transparent !important;
  font-size: 13px;
}

#description {
  min-height: 1500px;
}
#description .nameHistoryBlock h2 {
  color: #5a701e;
  font-size: 38px;
  font-weight: 400;
}
#description .pillows .pillow-item {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111 !important;
  position: relative;
  border-color: #5a701e !important;
  border-top: 1px solid;
  border-left: 1px solid;
}
#description .pillows .pillow-item:last-child {
  border-bottom: 1px solid #5a701e !important;
}
#description .pillows .active {
  background: #fff !important;
}
#description .pillows .active::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  background-color: #ea5c5c !important;
  width: 4px;
  height: calc(100% + 2px);
  z-index: 99;
}
#description .pillows .active::before {
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  background-color: #fff;
  width: 3px;
  height: 100%;
  z-index: 99;
}
#description .tab-content {
  border-color: #5a701e !important;
}
#description .tab-content .pillows-content {
  padding: 37px 30px 25px 30px;
}
#description .tab-content .pillows-content p {
  padding-bottom: 35px;
  color: #777777;
  line-height: 27px;
}
#description .tab-content .pillows-content p:last-child {
  padding-bottom: 0;
}

@media (max-width: 576px) {
  #breadCrums .breadcrumb {
    font-size: 10px;
  }

  #description .nameHistoryBlock h2 {
    color: #5a701e;
    font-size: 25px !important;
  }
  #description .pillow-item {
    border-right: 1px solid;
  }
  #description .active {
    background: #fff !important;
  }
  #description .active::after {
    top: 100% !important;
    left: -1px !important;
    width: calc(100% + 2px) !important;
    height: 3px !important;
  }
  #description .active::before {
    width: 0 !important;
  }
}