* {
  padding: 0;
  margin: 0;
}

#breadCrums .next-prev a {
  text-decoration: none;
  color: #777777;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  display: block;
}
#breadCrums .breadCrumsBottomBorder {
  border-bottom: 1px solid #5a701e;
  padding: 28px 0;
}
#breadCrums .breadcrumb {
  background: transparent !important;
  font-size: 13px;
}

#product {
  margin-top: 37px;
}
#product .galleryProduct .bigImgProduct .bigImg {
  outline: 1px solid #5a701e;
}
#product .galleryProduct .littleImg {
  padding: 1px;
  outline: 1px solid #5a701e;
}
#product .productDetalis {
  width: 87%;
}
#product .productDetalis .nameProductAndProductEvaluation .opinionAndAssessment .opinion {
  font-size: 12px;
  color: #777777;
}
#product .productDetalis .nameProductAndProductEvaluation .opinionAndAssessment .assessment {
  color: #ffd203;
  font-size: 11px;
}
#product .productDetalis .buttonsProduct {
  padding: 1px;
  border-color: #e5e5e5;
  text-align: center;
  line-height: 42px;
}
#product .productDetalis .buttonsProduct::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #e5e5e5;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
#product .productDetalis .buttonsProduct > * {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 12px;
}
#product .priceProduct {
  background: linear-gradient(#aaa, #aaa) 0% 100% no-repeat;
  background-size: 80px 1px;
}
#product .productTextContent {
  width: 87%;
  color: #777777;
  font-size: 14px;
  line-height: 27px;
}
#product .productTableContent table tr {
  border-bottom: 1px solid #5a701e;
}
#product .productTableContent table tr td {
  padding: 12px 0 13px 30px;
  font-size: 13px;
  color: #222222;
  font-weight: 500;
}
#product .productTableContent table tr td .exclamation {
  font-size: 20px;
  color: #5a701e;
  transform: translate(-15px, 3px);
}
#product .productTableContent table tr:last-child {
  border-bottom: 0;
}
#product .productImgContent {
  justify-self: end;
}
#product .productImgContent .contentImg {
  border-color: #5a701e !important;
}
#product .productImgContent .contentImg .nameImg {
  color: #5a701e;
}
#product .productImgContent .more {
  display: block;
  margin-top: 10px;
  color: #5a701e;
  margin-bottom: 18px;
}
#product .calendarBlock .today {
  margin-left: 35px;
  color: #111;
  text-align: center;
  padding: 4px;
  background-color: #fca238;
  font-size: 13px;
  font-weight: 500;
  width: 70px;
}
#product .calendarBlock .calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
  outline: 1px solid #fc6f38;
}
#product .calendarBlock .calendar .day > * {
  margin-left: 35px;
}
#product .calendarBlock .calendar .calendarText {
  padding: 10px 0;
  color: #5a701e;
}
#product .calendarBlock .calendar .calendarText > * {
  margin-left: 45px;
}
#product .articlesProduct .articleBreadcrumb {
  margin-left: auto;
  margin-right: 45px;
  text-align: center;
  padding: 4px;
  background-color: #fca238;
  font-size: 13px;
  font-weight: 500;
  width: 140px;
  color: #fff;
}
#product .articlesProduct .articles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
  outline: 1px solid #fca238;
}
#product .articlesProduct .articles .linksToArticles a {
  text-decoration: none;
  color: #111;
  border-bottom: 1px solid #5a701e;
  padding-left: 15px;
  margin: 15px 8px auto 8px;
  font-weight: 500;
}
#product .articlesProduct .articles .linksToArticles a:first-child {
  margin-top: 7px;
}
#product .articlesProduct .articles .more {
  text-decoration: none;
  color: #5a701e;
  text-align: right;
  display: block;
  margin: 7px 8px;
}

#description {
  margin-top: 30px;
  min-height: 1500px;
}
#description .nameHistoryBlock h2 {
  color: #5a701e;
  font-size: 38px;
  font-weight: 400;
}
#description .pillows .pillow-item {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111 !important;
  position: relative;
  border-color: #5a701e !important;
  border-top: 1px solid;
  border-left: 1px solid;
}
#description .pillows .pillow-item:last-child {
  border-bottom: 1px solid #5a701e !important;
}
#description .pillows .active {
  background: #fff !important;
}
#description .pillows .active::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  background-color: #ea5c5c !important;
  width: 4px;
  height: calc(100% + 2px);
  z-index: 99;
}
#description .pillows .active::before {
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  background-color: #fff;
  width: 3px;
  height: 100%;
  z-index: 99;
}
#description .tab-content {
  border-color: #5a701e !important;
}
#description .tab-content .pillows-content {
  padding: 37px 30px 25px 30px;
}
#description .tab-content .pillows-content p {
  padding-bottom: 35px;
  color: #777777;
  line-height: 27px;
}
#description .tab-content .pillows-content p:last-child {
  padding-bottom: 0;
}
#description .commentsUsers .comment {
  margin-bottom: 25px;
  display: flex;
}
#description .commentsUsers .comment .commentImg {
  width: 50px;
  height: 50px;
  margin-right: 23px;
}
#description .commentsUsers .comment .commentImg img {
  object-fit: cover;
}
#description .commentsUsers .comment .commentText {
  padding: 20px 23px 23px 23px;
}
#description .commentsUsers .comment .commentText .nameUserDateAndAppraisal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#description .commentsUsers .comment .commentText .nameUserDateAndAppraisal .nameAndDate {
  display: flex;
  align-items: center;
  font-size: 12px;
}
#description .commentsUsers .comment .commentText .nameUserDateAndAppraisal .nameAndDate .name {
  color: #222222;
  line-height: 18px;
  font-weight: 500;
}
#description .commentsUsers .comment .commentText .nameUserDateAndAppraisal .nameAndDate .date {
  color: #999999;
  margin-left: 5px;
}
#description .commentsUsers .comment .commentText .nameUserDateAndAppraisal .appraisal {
  color: #999999;
  font-size: 11px;
}
#description .commentsUsers .comment .commentText .nameUserDateAndAppraisal .appraisal .active {
  color: #f8c848;
}
#description .commentsUsers .comment .commentText .text {
  margin-top: 18px;
  color: #999999;
  font-size: 12px;
}
#description .commentsUsers .comment .commentText .text > * {
  line-height: 20px;
}
#description .writeComment h3 {
  font-size: 15px;
  color: #222222;
}
#description .writeComment p {
  font-size: 14px;
  color: #999999;
}
#description .writeComment .appraisalAndComment {
  width: 81%;
}
#description .writeComment .appraisalAndComment .appraisal {
  font-size: 12px;
  margin-top: 5px;
}
#description .writeComment .appraisalAndComment textarea {
  margin-top: 18px;
  resize: none;
  height: 234px;
  outline: 0;
  width: 100%;
  padding: 20px;
}
#description .writeComment .appraisalAndComment .btn {
  background-color: #222222;
  color: #fff;
  margin-top: 35px;
}

@media (max-width: 576px) {
  #breadCrums .breadcrumb {
    font-size: 10px;
  }

  #description .nameHistoryBlock h2 {
    color: #5a701e;
    font-size: 25px !important;
  }
  #description .pillow-item {
    border-right: 1px solid;
  }
  #description .active {
    background: #fff !important;
  }
  #description .active::after {
    top: 100% !important;
    left: -1px !important;
    width: calc(100% + 2px) !important;
    height: 3px !important;
  }
  #description .active::before {
    width: 0 !important;
  }
}