#breadCrums .breadCrumsBottomBorder {
  border-bottom: 1px solid #e8e8e8;
  padding: 28px 0;
}
#breadCrums .breadcrumb {
  background: transparent !important;
  font-size: 13px;
}

#katalog {
  padding: 0px 0 300px 0;
}
#katalog .fade:not(.show) {
  visibility: hidden;
  display: none;
}
#katalog .card-header {
  background: #f8f8f8;
}
#katalog .card {
  outline: 1px solid #e8e8e8;
}
#katalog .card ul a {
  font-size: 13px;
  color: #777;
  text-decoration: none;
}
#katalog .card ul a::before {
  background-position: center;
  background-blend-mode: multiply;
  background-color: #f8f8f8;
  border-radius: 50%;
  border: 1px solid #e9e9e9;
  background-size: 60%;
}
#katalog .card ul .accordion-none::before {
  display: none;
}
#katalog .card .list-group .list-group-item:first-child {
  border-top: 1px solid #e9e9e9;
}
#katalog .filter .filter-header {
  background: #f8f8f8;
}
#katalog .filter .alphabet {
  line-height: 20px;
}
#katalog .filter .alphabet span {
  font-size: 17px;
  color: #222222;
  font-weight: 500;
  letter-spacing: -1px;
}
#katalog .filter .alphabet .active-letter {
  color: #ff0000;
}
#katalog .filter .cattegory .cattegory-toggle {
  cursor: pointer;
}
#katalog .filter ul a {
  font-size: 13px;
}
#katalog .filter ul .list-group-flush .list-group-item label {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #808080;
}
#katalog .filter ul .list-group .list-group-item:first-child label {
  padding-top: 25px;
}
#katalog .filter ul .list-group .list-group-item:last-child label {
  padding-bottom: 25px;
}
#katalog .filter .colors {
  margin: 18px auto 28px auto;
}
#katalog .filter .colors span {
  padding: 12.5px;
  margin-top: 10px;
  margin-right: 10px;
}

.sort-menu h3 {
  color: #777;
}
.sort-menu .sorting select {
  border: 1px solid #e8e8e8;
  color: #777;
  outline: 0;
  cursor: pointer;
}
.sort-menu .sorting button {
  border: 0;
  outline: 0;
  padding: 2px 0;
}
.sort-menu .sorting button:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.sort-menu .sorting button:nth-child(2) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #e8e8e8;
}
.sort-menu .grid-line-sort .nav-item:nth-child(1) a {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.sort-menu .grid-line-sort .nav-item:nth-child(2) a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.sort-menu .grid-line-sort .active {
  background-color: #f5f5f5 !important;
}

.pagination .active {
  background-color: #222222 !important;
  border: 1px solid #222222 !important;
}

.pagination .page-link {
  background-color: transparent !important;
}

.grid-cards img {
  height: 100%;
  object-fit: cover;
}
.grid-cards .katalog {
  border-left: 1px solid #5a701e;
}
.grid-cards .row {
  outline: 1px solid #5a701e;
}
.grid-cards .nameAndbtn h3 {
  font-size: 13px;
}
.grid-cards .nameAndbtn .btn-container button {
  border: 0;
  outline: 0;
}
.grid-cards .nameAndbtn .btn-container button:nth-child(1) {
  background-color: #5a701e;
  font-size: 11px;
}
.grid-cards .toolAndStar span {
  font-size: 12px;
  color: #111;
}
.grid-cards .toolAndStar li {
  line-height: 15px;
}
.grid-cards .toolAndStar i {
  color: #f8c848;
  font-size: 12px;
}
.grid-cards .toolAndStar .dop-info tr {
  font-size: 11px;
}
.grid-cards .content {
  font-size: 12px;
}

@media (max-width: 1024px) {
  .grid-cards .toolAndStar span {
    font-size: 12px;
    color: #111;
  }
  .grid-cards .toolAndStar li {
    line-height: 15px;
  }
  .grid-cards .toolAndStar i {
    color: #f8c848;
    font-size: 12px;
  }
  .grid-cards .toolAndStar .content p {
    font-size: 10px;
  }
  .grid-cards .toolAndStar .content .dop-info tr {
    font-size: 11px !important;
  }
  .grid-cards .toolAndStar .content .dop-info tr td:nth-child(1) {
    width: 35% !important;
  }
}
@media (max-width: 576px) {
  #breadCrums .breadcrumb {
    font-size: 10px;
  }

  .grid-button {
    font-size: 11px;
  }

  .content-grid p {
    font-size: 10px !important;
  }
}
@media (max-width: 1024px) {
  #katalog .breadcrumb {
    font-size: 13px;
  }
  #katalog .dop-info tr td:nth-child(1) {
    width: 25% !important;
  }
  #katalog .cards-line .content p {
    font-size: 12px !important;
  }

  .cards-line .katalog {
    border-left: 0 !important;
  }
  .cards-line > div > .row {
    min-height: 250px !important;
  }
  .cards-line .toolAndStar span {
    font-size: 12px;
    color: #111;
  }
  .cards-line .toolAndStar li {
    line-height: 15px;
  }
  .cards-line .toolAndStar .dop-info tr {
    font-size: 10px !important;
  }
}
.cards-line > div > .row {
  min-height: 280px;
}
.cards-line img {
  height: 100%;
  object-fit: cover;
}
.cards-line .katalog {
  border-left: 1px solid #5a701e;
}
.cards-line .row {
  outline: 1px solid #5a701e;
}
.cards-line .nameAndbtn h3 {
  font-size: 15px;
}
.cards-line .nameAndbtn .btn-container button {
  border: 0;
  outline: 0;
}
.cards-line .nameAndbtn .btn-container button:nth-child(1) {
  background-color: #5a701e;
  font-size: 11px;
}
.cards-line .toolAndStar span {
  font-size: 12px;
  color: #111;
}
.cards-line .toolAndStar li {
  line-height: 15px;
}
.cards-line .toolAndStar i {
  color: #f8c848;
  font-size: 12px;
}
.cards-line .toolAndStar .dop-info tr {
  font-size: 14px;
}