#breadCrums .breadCrumsBottomBorder {
  border-bottom: 1px solid #e8e8e8;
  padding: 28px 0;
}
#breadCrums .breadcrumb {
  background: transparent !important;
  font-size: 13px;
}

#newSingle {
  padding: 0px 0 300px 0;
}
#newSingle .breadcrumb {
  background-color: transparent;
}
#newSingle .videoBlog ul .nav-item a {
  border-right: 1px solid #777;
  color: #555555;
  text-decoration: none;
}
#newSingle .videoBlog ul .nav-item:first-child a {
  padding-left: 0 !important;
}
#newSingle .videoBlog ul .nav-item:last-child a {
  border-right: 0px solid #777;
}
#newSingle .date div {
  background-color: #408de4;
}
#newSingle .date span:nth-child(1) {
  font-size: 22px;
}
#newSingle .date span:nth-child(2) {
  font-size: 15px;
  transform: translateY(-5px);
}
#newSingle .categories li {
  padding: 14px 0;
  border-bottom: 1px solid #e5e5e5;
}
#newSingle .categories li:last-child {
  border-bottom: 0;
}
#newSingle .categories li a {
  color: #777777;
}
#newSingle .categories li .active-categories {
  color: #292929;
}
#newSingle .last-posts li {
  padding: 14px 0;
  border-bottom: 1px solid #e5e5e5;
}
#newSingle .last-posts li:last-child {
  border-bottom: 0;
}
#newSingle .last-posts li a {
  color: #292929;
  font-size: 15px;
}
#newSingle .last-posts li span {
  color: #777777;
  font-size: 14px;
}
#newSingle .archive li {
  padding: 14px 0;
  border-bottom: 1px solid #e5e5e5;
}
#newSingle .archive li:last-child {
  border-bottom: 0;
}
#newSingle .archive li a {
  color: #777777;
}
#newSingle .archive li .active-categories {
  color: #292929;
}
#newSingle .tags .active-tag {
  background-color: #408de4;
  color: #fff;
  border: 0 !important;
}
#newSingle .tags-bottom ul li:nth-child(2) {
  padding-left: 4px;
}
#newSingle .tags-bottom a {
  text-transform: none;
}
#newSingle .socialGroups .socialIcon {
  width: 30px;
  height: 30px;
  background-color: #222222 !important;
  line-height: 30px;
}
#newSingle .socialGroups a i {
  color: #fff;
}
#newSingle .aboutAuth .comment-auth {
  background-color: #f6f6f6;
  padding: 30px;
}
#newSingle .aboutAuth .comment-auth p {
  color: #777;
  font-size: 14px;
}
#newSingle .aboutAuth .comment-auth h5 {
  font-size: 14px;
}
#newSingle .aboutAuth .comment-auth a {
  text-decoration: none;
}
#newSingle .commentsUsers .list-comments {
  list-style-type: none;
}
#newSingle .commentsUsers .list-comments .comment {
  padding-top: 35px;
  padding-bottom: 20px;
}
#newSingle .commentsUsers .nameUserAndDate h5,
#newSingle .commentsUsers .nameUserAndDate span {
  font-size: 14px;
}
#newSingle .commentsUsers .commentUser {
  transform: translateY(-16px);
}
#newSingle .commentsUsers .commentUser p {
  color: #777;
  font-size: 14px;
}
#newSingle .commentsUsers .commentUser .reply {
  background: #eeeeee;
  border: 0;
  outline: 0;
  font-size: 11px;
}

.writeYourComment textarea {
  height: 146px;
  outline: 0;
  resize: none;
}
.writeYourComment button {
  background-color: #5a701e;
  font-size: 11px;
}
.writeYourComment input {
  outline: 0;
}

@media (max-width: 540px) {
  #newSingle {
    padding-bottom: 100px;
  }
  #newSingle .breadcrumb {
    font-size: 13px;
  }
  #newSingle .videoBlog ul .nav-item a {
    font-size: 10px !important;
  }
  #newSingle .videoBlog .card-video {
    margin-bottom: 40px;
  }

  .commentUser {
    transform: translateY(0) !important;
  }

  .subcomment .comment .col-12 {
    padding-left: 0 !important;
  }
}