@media (max-width: 540px) {
  #ourBlog .breadcrumb {
    font-size: 13px;
  }
}
#breadCrums .breadCrumsBottomBorder {
  border-bottom: 1px solid #e8e8e8;
  padding: 28px 0;
}
#breadCrums .breadcrumb {
  background: transparent !important;
  font-size: 13px;
}

#ourBlog {
  padding: 0px 0 300px 0;
}
#ourBlog .fade:not(.show) {
  visibility: hidden;
  display: none;
}
#ourBlog .card-header {
  background: #f8f8f8;
}
#ourBlog .card {
  outline: 1px solid #e8e8e8;
}
#ourBlog .card ul a {
  font-size: 13px;
  color: #777;
  text-decoration: none;
}
#ourBlog .card ul a::before {
  background-position: center;
  background-blend-mode: multiply;
  background-color: #f8f8f8;
  border-radius: 50%;
  border: 1px solid #e9e9e9;
  background-size: 60%;
}
#ourBlog .card ul .accordion-none::before {
  display: none;
}
#ourBlog .card .list-group .list-group-item:first-child {
  border-top: 1px solid #e9e9e9;
}
#ourBlog .sort-menu h3 {
  color: #777;
}
#ourBlog .sort-menu .sorting select {
  border: 1px solid #e8e8e8;
  color: #777;
  outline: 0;
  cursor: pointer;
}
#ourBlog .sort-menu .sorting button {
  border: 0;
  outline: 0;
  padding: 2px 0;
}
#ourBlog .sort-menu .sorting button:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#ourBlog .sort-menu .sorting button:nth-child(2) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #e8e8e8;
}
#ourBlog .cards-line > div > .row {
  min-height: 280px;
}
#ourBlog .cards-line img {
  height: 100%;
  object-fit: cover;
}
#ourBlog .cards-line .katalog {
  border-left: 1px solid #5a701e;
}
#ourBlog .cards-line .row {
  outline: 1px solid #5a701e;
}
#ourBlog .cards-line .nameAndbtn h3 {
  font-size: 15px;
}
#ourBlog .cards-line .nameAndbtn .btn-container button {
  border: 0;
  outline: 0;
}
#ourBlog .cards-line .nameAndbtn .btn-container button:nth-child(1) {
  background-color: #5a701e;
  font-size: 11px;
}
#ourBlog .cards-line .toolAndStar span {
  font-size: 12px;
  color: #111;
}
#ourBlog .cards-line .toolAndStar li {
  line-height: 15px;
}
#ourBlog .cards-line .toolAndStar i {
  color: #f8c848;
  font-size: 12px;
}
#ourBlog .cards-line .toolAndStar .dop-info tr {
  font-size: 14px;
}
#ourBlog .grid-cards img {
  height: 100%;
  object-fit: cover;
}
#ourBlog .grid-cards .katalog {
  border-left: 1px solid #5a701e;
}
#ourBlog .grid-cards .row {
  outline: 1px solid #5a701e;
}
#ourBlog .grid-cards .nameAndbtn h3 {
  font-size: 13px;
}
#ourBlog .grid-cards .nameAndbtn .btn-container button {
  border: 0;
  outline: 0;
}
#ourBlog .grid-cards .nameAndbtn .btn-container button:nth-child(1) {
  background-color: #5a701e;
  font-size: 11px;
}
#ourBlog .grid-cards .toolAndStar span {
  font-size: 12px;
  color: #111;
}
#ourBlog .grid-cards .toolAndStar li {
  line-height: 15px;
}
#ourBlog .grid-cards .toolAndStar i {
  color: #f8c848;
  font-size: 12px;
}
#ourBlog .grid-cards .toolAndStar .dop-info tr {
  font-size: 11px;
}
#ourBlog .grid-cards .content {
  font-size: 12px;
}
#ourBlog .pagination .active {
  background-color: #222222 !important;
  border: 1px solid #222222 !important;
}
#ourBlog .pagination .page-link {
  background-color: transparent !important;
}
@media (max-width: 1024px) {
  #ourBlog .grid-cards .toolAndStar span {
    font-size: 12px;
    color: #111;
  }
  #ourBlog .grid-cards .toolAndStar li {
    line-height: 15px;
  }
  #ourBlog .grid-cards .toolAndStar i {
    color: #f8c848;
    font-size: 12px;
  }
  #ourBlog .grid-cards .toolAndStar .content p {
    font-size: 10px;
  }
  #ourBlog .grid-cards .toolAndStar .content .dop-info tr {
    font-size: 11px !important;
  }
  #ourBlog .grid-cards .toolAndStar .content .dop-info tr td:nth-child(1) {
    width: 35% !important;
  }
}

@media (max-width: 576px) {
  #breadCrums .breadcrumb {
    font-size: 10px;
  }

  .grid-button {
    font-size: 11px;
  }

  .content-grid p {
    font-size: 10px !important;
  }
}
@media (max-width: 1024px) {
  #katalog .breadcrumb {
    font-size: 13px;
  }
  #katalog .dop-info tr td:nth-child(1) {
    width: 25% !important;
  }
  #katalog .cards-line .content p {
    font-size: 12px !important;
  }

  .cards-line .katalog {
    border-left: 0 !important;
  }
  .cards-line > div > .row {
    min-height: 250px !important;
  }
  .cards-line .toolAndStar span {
    font-size: 12px;
    color: #111;
  }
  .cards-line .toolAndStar li {
    line-height: 15px;
  }
  .cards-line .toolAndStar .dop-info tr {
    font-size: 10px !important;
  }
}