#breadCrums .breadCrumsBottomBorder {
  border-bottom: 1px solid #e8e8e8;
  padding: 28px 0;
}
#breadCrums .breadcrumb {
  background: transparent !important;
  font-size: 13px;
}

#videoBlog {
  padding: 0px 0 300px 0;
}
#videoBlog .breadcrumb {
  background-color: transparent;
}
#videoBlog .videoBlog ul .nav-item a {
  border-right: 1px solid #777;
  color: #555555;
  text-decoration: none;
}
#videoBlog .videoBlog ul .nav-item:first-child a {
  padding-left: 0 !important;
}
#videoBlog .videoBlog ul .nav-item:last-child a {
  border-right: 0px solid #777;
}
#videoBlog .videoBlog .card-video {
  margin-bottom: 80px;
}
#videoBlog .date div {
  background-color: #408de4;
}
#videoBlog .date span:nth-child(1) {
  font-size: 22px;
}
#videoBlog .date span:nth-child(2) {
  font-size: 15px;
  transform: translateY(-5px);
}
#videoBlog .categories li {
  padding: 14px 0;
  border-bottom: 1px solid #e5e5e5;
}
#videoBlog .categories li:last-child {
  border-bottom: 0;
}
#videoBlog .categories li a {
  color: #777777;
}
#videoBlog .categories li .active-categories {
  color: #292929;
}
#videoBlog .last-posts li {
  padding: 14px 0;
  border-bottom: 1px solid #e5e5e5;
}
#videoBlog .last-posts li:last-child {
  border-bottom: 0;
}
#videoBlog .last-posts li a {
  color: #292929;
  font-size: 15px;
}
#videoBlog .last-posts li span {
  color: #777777;
  font-size: 14px;
}
#videoBlog .archive li {
  padding: 14px 0;
  border-bottom: 1px solid #e5e5e5;
}
#videoBlog .archive li:last-child {
  border-bottom: 0;
}
#videoBlog .archive li a {
  color: #777777;
}
#videoBlog .archive li .active-categories {
  color: #292929;
}
#videoBlog .tags .active-tag {
  background-color: #408de4;
  color: #fff;
  border: 0 !important;
}
#videoBlog .pagination .active {
  background-color: #222222 !important;
  border: 1px solid #222222 !important;
}
#videoBlog .pagination .page-link {
  background-color: transparent !important;
}

@media (max-width: 540px) {
  #videoBlog {
    padding-bottom: 100px;
  }
  #videoBlog .breadcrumb {
    font-size: 13px;
  }
  #videoBlog .videoBlog ul .nav-item a {
    font-size: 10px !important;
  }
  #videoBlog .videoBlog .card-video {
    margin-bottom: 40px;
  }
}